.modalItem {
  background-color: #fff;
  width: 55%;
  max-height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: auto;
  overflow: auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
